Homework 1: Analysis of 'titanic.csv' file using Python and Pandas.

Code is built to do required analysis on Titanic population pool and answer each of the questions in the assignment.

Author: Jose Solomon

In [3]:
# Import pandas and numpy
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# In-line plotting
%matplotlib inline

In [95]:
# Load a data from using 'pandas'
dfTitanic = pd.read_csv('titanic.csv')

# Print out the labels
#print df.columns
# dfTitanic

In [5]:
#1. How many passengers are in our passenger list? 
dfTitanic.PassengerId.count()

891

In [6]:
# 2. What is the overall survival rate? 

# Given that the a passenger whom survived is marked as 1, and one that did not is 0, if you take the mean of the 'Survived'
# column, you will get the survival rate
survivalRate = dfTitanic.Survived.mean()
print "%.2f%%" % (survivalRate * 100)

38.38%

In [100]:
# How many people got on-board?
# print dfTitanic.Embarked.count()

# 3. How many male passengers were onboard?
dfTitanic[(dfTitanic.Sex == 'male')].Embarked.count()

577

In [8]:
# 4. How many female passengers were onboard?
dfTitanic[(dfTitanic.Sex == 'female')].Embarked.count()

312

In [9]:
# Just for my own insight
# dfTitanic[(dfTitanic.Survived == 1)].groupby(['Sex']).count()

In [10]:
# The following two questions are answered together in the table below:

# 5. What is the overall survival rate of male passengers?
# 6. What is the overall survival rate of female passengers?

# Create two new variables
survived = dfTitanic[(dfTitanic.Survived == 1)].groupby(['Sex']).Sex.count()
total = dfTitanic.groupby(['Sex']).Sex.count()
#print survived
#print total
# Based on print statements above, 'female' is listed before 'male'
survivalFrame = pd.DataFrame([[float(survived[0])/float(total[0])], [float(survived[1])/float(total[1])]],
                             ['Female', 'Male'],columns=['Survival Rate'])
                                                                    
survivalFrame.head()

        Survival Rate
Female       0.742038
Male         0.188908

In [101]:
# 7. What is the average age of all passengers onboard?
#    * How did you calculate this average age?
#    * Note that some of the passengers do not have an age value. 
#      How did you deal with this? What are some other ways of dealing with this?

# print dfTitanic.shape
# Create a data frame with no nulls for the 'age' entry
noNullAge = dfTitanic[dfTitanic.Age.notnull()]

# Now calculate the average age of those that have reported their ages in the log
print "%.2f years old" % (noNullAge.Age.mean())

# Another way to deal with this is to take the average directly from the original data frame, since 
# Pandas is able to remove 'NaNs' when it does a mean calculation.

29.70 years old

In [41]:
# The following two questions are answered together in the table below:

# 8. What is the average age of passengers who survived?
# 9. What is the average age of passengers who did not survive?

# Filter for passangers that survived
survived = dfTitanic[(dfTitanic.Survived == 1)].Age.mean()
notSurvived = dfTitanic[(dfTitanic.Survived == 0)].Age.mean()

survivalFrame = pd.DataFrame([survived, notSurvived],['Average age of thost that survived',
                                                     'Average age of those that did not'],
                             columns=['Average Ages'])
survivalFrame.head()

                                    Average Ages
Average age of thost that survived     28.343690
Average age of those that did not      30.626179

Question 10. At this (early) point in our analysis, what might you infer about any patterns you are seeing?

1. Female passangers had a much higher chance of survival than their male counterparts.
2. Younger passangers tended to fair better than older ones. It would be interesting to 
    see how the ticket class of the passanger effects the survival rate.

In [82]:
# 11. How many passengers are in each of the three classes of service (e.g. First,
# Second, Third?)
classFrame = pd.DataFrame(dfTitanic.groupby('Pclass').Pclass.count())
totalFirst = int(classFrame.iloc[0])
totalSecond = int(classFrame.iloc[1])
totalThird =  int(classFrame.iloc[2])
classFrame = pd.DataFrame([totalFirst , totalSecond, 
                           totalThird],['1st Class','2nd Class',
                                                     '3rd Class'],columns=['Class'])
classFrame.head()

           Class
1st Class    216
2nd Class    184
3rd Class    491

In [92]:
# 12. What is the survival rate for passengers in each of the three classes of service?
survivalClassFrame = pd.DataFrame(dfTitanic[(dfTitanic.Survived == 1)].groupby('Pclass').Pclass.count())
survivalR1st = int(survivalClassFrame.iloc[0])/float(totalFirst)
survivalR2nd = float(survivalClassFrame.iloc[1])/float(totalSecond)
survivalR3rd = float(survivalClassFrame.iloc[2])/float(totalThird)
survivalClassFrame = pd.DataFrame([survivalR1st ,survivalR2nd, survivalR3rd],['1st Class','2nd Class',
                                                     '3rd Class'],columns=['Class'])
survivalClassFrame.head()

              Class
1st Class  0.629630
2nd Class  0.472826
3rd Class  0.242363

Question 13. What else might you conclude?

As expected, if the passenger was in a higher class, the chances of survival were 
much higher.

Question 14. Last, if we were to build a predictive model, which features in the data do you
think we should include in the model and which can we leave out? Why?

It seems from this cursory review of the analysis, the boarding class, the gender,
and age are key features of analyzing the survival rate of the passengers. It seems
that the ticket number on its own may not be so valuable and could potentially be left out.

That being said, ]it would be interesting to look at what level each of the passenger was
in terms of the ship layout. Determining the proximity to the ship's deck could add insight
into how the passengers' survival rate was effected by exit route.