Homework 1: Analysis of 'titanic.csv' file using Python.

Code is built to do required analysis on Titanic 
population pool and answer each of the questions in the assignment.

Author: Jose Solomon

8. What is the average age of passengers who survived?


9. What is the average age of passengers who did not survive?

10. At this (early) point in our analysis, what might you infer about any patterns
you are seeing?

11. How many passengers are in each of the three classes of service (e.g. First,
Second, Third?)

12. What is the survival rate for passengers in each of the three classes of service?

13. What else might you conclude?

14. Last, if we were to build a predictive model, which features in the data do you
think we should include in the model and which can we leave out? Why?

In [2]:
# Import pandas and numpy
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# In-line plotting
%matplotlib inline

In [3]:
# Load a data from using 'pandas'
df = pd.read_csv('titanic.csv')

# Print out the labels
print df.columns
#df.head()

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age', u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'], dtype='object')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [19]:
#1. How many passengers are in our passenger list? 
df.PassengerId.count()

891

In [30]:
# 2. What is the overall survival rate? 

# Given that the a passenger survived is marked as 1, and one that did not is 0, if you take the mean of the 'Survived'
# column, you will get the survival rate
survivalRate = df.Survived.mean()
print "%.2f%%" % (survivalRate * 100)

38.38%

In [39]:
# 3. How many male passengers were onboard?
df[(df.Sex == 'male')].Embarked.count()

577

In [40]:
# 4. How many female passengers were onboard?
df[(df.Sex == 'female')].Embarked.count()

312

In [24]:
# Just fo my own info
df[(df.Survived == 1)].groupby(['Sex']).count()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Sex,,,,,,,,,,,
female,233,233,233,233,197,233,233,233,233,91,231
male,109,109,109,109,93,109,109,109,109,45,109

In [62]:
# The following two questions are answered together in the table below:

# 5. What is the overall survival rate of male passengers?
# 6. What is the overall survival rate of female passengers?

survived = df[(df.Survived == 1)].groupby(['Sex']).Sex.count()
total = df.groupby(['Sex']).Sex.count()
#print survived
#print total
# Based on print statements above, 'female' is listed before 'male'
survivalFrame = pd.DataFrame([[float(survived[0])/float(total[0])], [float(survived[1])/float(total[1])]],
                             ['Female', 'Male'],columns=['Survival Rate'])
                                                                    
survivalFrame.head()

        Survival Rate
Female       0.742038
Male         0.188908

In [14]:

survivalRate = pd.DataFrame(df.groupby('Sex').Survived.count())
survivalRate.head()

        Survived
Sex
female       314
male         577

In [ ]:
# 7. What is the average age of all passengers onboard?
#    * How did you calculate this average age?
#    * Note that some of the passengers do not have an age value. 
#      How did you deal with this? What are some other ways of dealing with this?